Source: dvswitch
Maintainer: Ben Hutchings <ben@decadent.org.uk>
Section: graphics
Priority: extra
Build-Depends: debhelper (>= 5), libdv-dev, pkg-config, libgtkmm2.0-dev, libboost-dev, libboost-thread-dev, libxv-dev
Standards-Version: 3.7.2

Package: dvswitch
Architecture: any
Depends: ${shlibs:Depends}
Suggests: dvsource
Description: basic video mixer for DV streams
 dvswitch is a very basic video mixer that receives DV streams over a
 network and stores the currently selected stream to a file.  The
 sources may be cameras or files.  It has a graphical interface in
 which all source streams can be viewed and selected from.
 .
 It is intended to be used for live editing at DebConf.

Package: dvsource
Architecture: any
Depends: ${shlibs:Depends}, dvgrab
Description: programs to provide source frames for dvswitch
 This package provides two sources for dvswitch:
 .
 dvsource-file reads DV frames from a file and sends them at the
 normal frame rate.
 .
 dvsource-firewire reads DV frames from a camera or other device
 connected by Firewire (1394).
