Source: dvswitch-voc
Maintainer: Florian Larysch <fl@n621.de>
Section: video
Priority: extra
Build-Depends: debhelper (>= 5), libasound2-dev, libavcodec-dev, pkg-config, libgtkmm-2.4-dev, libboost-dev, libboost-system-dev, libboost-thread-dev, libxv-dev, cmake
Standards-Version: 3.8.0
Vcs-Git: ssh://git@mng.video.ccc.de/dvswitch-voc.git
Homepage: http://dvswitch.alioth.debian.org/

Package: dvswitch-voc
Architecture: any
Depends: dvswitch, ${shlibs:Depends}
Description: basic video mixer for live DV streams - VOC version
 dvswitch is a very basic video mixer that receives DV streams from
 sources and sends a DV stream to sinks over a TCP/IP network.  It has
 a graphical interface in which all source streams can be viewed and
 selected from.
 .
 It is intended to be used for live editing at conferences.
 .
 This package contains a minimal version of dvswitch that tries to
 prevent maloperation.
