#!/usr/bin/make -f

export CFLAGS := -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif
export CXXFLAGS := $(CFLAGS)

build : build/Makefile
	make -C build

build/Makefile :
	mkdir -p build
	cd build && cmake -D prefix=/usr ..

install-stamp : build
	dh_testroot
	make -C build DESTDIR=$$(pwd)/debian/tmp install
	mkdir -p debian/dvsink/usr/bin debian/dvsink/usr/share/doc
	mv debian/tmp/usr/bin/dvsink-* debian/dvsink/usr/bin
	cp -R debian/tmp/usr/share/doc/dvswitch \
		debian/dvsink/usr/share/doc/dvsink
	mkdir -p debian/dvsource/usr/bin debian/dvsource/usr/share/doc
	mv debian/tmp/usr/bin/dvsource-* debian/dvsource/usr/bin
	cp -R debian/tmp/usr/share/doc/dvswitch \
		debian/dvsource/usr/share/doc/dvsource
	mkdir -p debian/dvswitch/usr/bin debian/dvswitch/usr/share/doc
	mv debian/tmp/usr/bin/dvswitch debian/dvswitch/usr/bin
	mv debian/tmp/usr/share/doc/dvswitch \
		debian/dvswitch/usr/share/doc/dvswitch
	mv debian/tmp/usr/share/dvswitch debian/dvswitch/usr/share/dvswitch
	touch install-stamp

binary : binary-arch binary-indep

binary-arch : install-stamp
	dh_strip
	dh_shlibdeps
	dh_installchangelogs -a
	dh_installdocs -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary-indep : install-stamp
	dh_installchangelogs -i
	dh_installdocs -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i	

clean :
	rm -rf build
	dh_clean install-stamp

.PHONY : build binary binary-arch binary-indep clean
